.search-bar-container {
    background-color:rgb(189, 187, 187,0.8);
    height: 86px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin-top: 330px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    padding-bottom: 70px;
    padding-top: 73px;
  }
  
  .search-input {
    background-color: #e8e6e6;
    font-size: 25px;
    padding: 15px;
    width: 100%; /* Genişlik 100% olarak ayarlandı */
    height: 75px;
    border-radius: 50px;
  }
  
  .search-results {
    background-color: transparent;
    height: 100vh;
    width: 100%;
    z-index: 5;
    display:block;
    margin-top: 1000px;
    margin-bottom: 20px;
    position:absolute;
    align-items: center;
  }
  
  .search-results img {
    flex: 0 0 calc(33.33% - 30px); /* İki resim arasında 30px boşluk bırak */
    border: double;
    border-width: 8px;
    border-color: rgb(135, 135, 135);
    object-fit: cover;
    border-radius: 40px;
    margin-top: 40px;
    margin-left: 65px;
    margin-right: 65px;
    height: 230px;
    width: 320px;
  }
  
  .search-input::placeholder {
    font-size: 19px;
    padding-left: 10px;
    font-family: "Josefin Sans-Bold", Helvetica;
  }
  