@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.label {
  z-index: 0;
}

.label .IMAGE-i-NATION {
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 14px;
  left: 25px;
  letter-spacing: 1px;
  line-height: normal;
  position: fixed;
  text-align: center;
  top: 0;
  width: 166px;
  opacity: 1; /* Varsayılan olarak görünür */
  transition: opacity 0.3s ease-in-out;
}

.compress-page,
.remove-page,
.giris {
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 100px;
  cursor: pointer;
}

.remove-page {
  left: 63%;
}

.compress-page {
  left: 36%;
}

.giris {
  left: auto;
  right: 25px; /* Sağ üst köşede 25px mesafede */
  transform: translateX(0) translateY(-50%);
}

@media only screen and (max-width: 768px) {
  .label .IMAGE-i-NATION {
    font-size: 12px;
    margin-top: 10px;
    left: 10px;
    width: auto;
  }

  .compress-page,
  .remove-page,
  .giris {
    font-size: 14px;
    width: 80px;
  }

  .remove-page {
    left: 55%;
  }

  .compress-page {
    left: 30%;
  }

  .giris {
    right: 10px;
  }

  .label .IMAGE-i-NATION {
    opacity: 0; /* Ekran genişliği belirli bir değerin altına düştüğünde gizlenir */
  }
}
